body {                
  flex-direction: column;
  padding: 20px;     
  
  scroll-behavior: smooth;
  background-color: #f4f4f4;
}

.main-cards-sistemas {
  height: 20%;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1%;
  margin: auto;

  border: 1px solid red;

}

.title-card {
  font-size: .45rem;
  color: var(--color1);
}

.card-content {
  width: 100%;
  height: 100%;;

  border: 1px solid#7c4d8b;

  padding: 10px;
  border-radius: 10px;
}

.asignacion-card {
}

.cambio-card{
}

.cancelacion-card{
}

.bajas-card{
}