body {
  margin: 0;                  
  padding: 0;                 
  box-sizing: border-box;     
  font-family: 'Inter', sans-serif; 
  font-size: 16px;            
  line-height: 1.5;           
  color: #222;                
  
  min-height: 100vh;          
  display: flex;
  align-items: center;          
  flex-direction: column;
  padding: 20px;     
  
  scroll-behavior: smooth;
  
  background-color: #f4f4f4;
}

.main-cards-sistemas {
  height: 80%;
  width: 90%;

  display: flex;
  justify-content: center;

  padding: 10px;
  margin: auto;

}

  .section-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    justify-content: center;
    width: 90%;
    padding: 1%;
}

.link-cards {
  text-decoration: none;
}

.title-card {
  font-size: 1.5rem;
  color: var(--color1);
}

.card-content {
  width: 90%;
  height: 60%;;

  border: 2px solid#7c4d8b;

  padding: 10px;
  border-radius: 10px;

 
}

.asignacion-card {
 
}

.cambio-card{
  
}

.cancelacion-card{

}

.bajas-card{

}