
:root {
  --asignacion: #702489;
  --cambio: #488f2d;
  --cancelacion: #c76719; 
  --baja: #863543;
}


body {                
  flex-direction: column;
  padding: 20px;     
  
  scroll-behavior: smooth;
  background-color: #f4f4f4;
}

.main-cards-sistemas {
  height: auto;
  min-width: 85%;
  width: auto;
  margin: 1%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1%;
}

.title-card {
  font-size: 1.5rem;
  color: var(--color4);
  margin: 0;
}

.card-content {
  width: 20%;
  height: 50%;;
  padding: 1%;
  margin: 1%;

  display: flex;
  justify-content: space-between;
  
  align-items: center;
 
  border-radius: 5px;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.count-all{
  font-size: 2rem;
  color: var(--color4);
  margin: 0;
  padding: 0;
}


.asignacion-card {
  background-color: var(--asignacion);
}

.cambio-card{
  background-color: var(--cambio);
}

.cancelacion-card{
  background-color:var(--cancelacion);
}

.bajas-card{
  background-color: var(--baja);
}

.view-reports-sistemas{
  width: 90%;
  margin: 1%;
  height: auto;
  min-height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  border-radius: 5px;

  background-color: var(--color4);

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.report-info{
  position: relative;
  width: 98%;
  height: auto;
  margin: 1%;

  color: var(--color1);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;

  box-shadow: 1px 3px 3px #0000003e;

}

.report-info ::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: var(--color-borde, #ccc);
  border-radius:  10px 0 0 10px;
}

.report-info.asignacion ::before {
  background-color: var(--asignacion); /* Morado */
}

.report-info.cambio ::before {
  background-color: var(--cambio); /* Verde */
}

.report-info.cancelacion ::before {
  background-color: var(--cancelacion); /* Naranja */
}

.report-info.baja ::before {
  background-color: var(--baja); /* Rojo */
}


.report-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  padding: .5%;
  margin: 1%;
  border: 1px solid red;
}

.report-column{
  width: 50%;
}


.text-info{
  font-size: 12px;
  margin: 1%;
  color: #0000007e;
}

