body {
  margin: 0;                  
  padding: 0;                 
  box-sizing: border-box;     
  font-family: 'Inter', sans-serif; 
  font-size: 16px;            
  line-height: 1.5;           
  color: #222;                
  
  min-height: 100vh;          
  display: flex;
        
  flex-direction: column;
  padding: 20px;     
  
  scroll-behavior: smooth;
  
  background-color: #f4f4f4;
}

.main-cards-sistemas {
  height: 20%;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin: auto;

  border: 1px solid red;

}


.link-cards {
  text-decoration: none;
  width: 50%;
  height: 30%;;
}

.title-card {
  font-size: .45rem;
  color: var(--color1);
}

.card-content {
  width: 100%;
  height: 100%;;

  border: 2px solid#7c4d8b;

  padding: 10px;
  border-radius: 10px;

 
}

.asignacion-card {
 
}

.cambio-card{
  
}

.cancelacion-card{

}

.bajas-card{

}