:root {
  --color1: #7c4d8b;
  --color2: #f3d7fd;
  --color3: #e74c3c;
  --color4: #ececec;
  --color5: #333333;
}



/* Header Contenedor */
.header-main-sistemas {
  background: var(--color4);

  display: flex;
  align-content: center;
  padding: 5px;
  margin-top: 1%;

  width: 90%;
  height: 40px;

  border-radius: 5px;
  border: 1px solid var(--color1);
}

.nav-main-sistemas{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-main-sistemas a{
  color: var(--color1);

  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  padding: 6px 12px; 
  margin: 5px ;
  border-radius: 5px;

  transition: all 0.3s ease;
}

.nav-main-sistemas :hover {
  color: var(--color4);

  background-color: var(--color1);
}



